.header{
 background-color: aqua;
 display: flex;
 justify-content: space-around;
 align-items: center;
 height: 80px;
 padding: 5px 10px;
 position: relative;
 background: #2c3e50;
 height: 20vh;
 border-bottom-left-radius: 30% 50%;
 border-bottom-right-radius: 30% 50%;
}

.button{
    background-color: red;
    padding: 10px 32px;
    border-radius: 50px;
    font-size: 16px;
    border:none;
    transition-duration: 0.4s;
}
.button:hover{
    background-color: #4CAF50;
    color: white;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;

}
.container{
   background-image: url("../Imagenes/pasitos.jpg");
}