.container{
    display: flex;

    justify-content: center;
    align-items: baseline;
}
.number{
    margin: 5px;
    background-color:  #4CAF50;
    border-radius: 50px;
    font-size: 16px;
    border:none;
}

.prev{
    background-color: red;
    padding: 10px 32px;
    border-radius: 50px;
    font-size: 16px;
    border:none;
    transition-duration: 0.4s;
}
.next{
    background-color: red;
    padding: 10px 32px;
    border-radius: 100px;
    font-size: 16px;
    border:none;
    transition-duration: 0.4s;
}